body{
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgba(192, 231, 216, 0.5);
    background-position:center;
    padding:0 10% 0 10%;
    line-height: 120%;
}
.container-info {
    max-width: 600px;
    height: 200px;
     margin: 10px;
     background-color: rgba(172, 211, 193, 0.5);
     padding: 20px;

}
.main{
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(192, 231, 216, 0.5);
}
section{
    width: 50%;

}
.image{
    display: flex;
    margin-left: 0;
    margin-right: auto;
    margin-top: 10px;
}
.header{
    background-color: rgba(192, 231, 216, 0.5);
    display: flex;
    flex-wrap: wrap;
}
#list{
    margin-left: 20%;
    margin-top: 50px;  
    line-height: 250%;
}
h1{
    text-align: center; 
    margin-top: 50px;    
}
h2{
    text-align: center;
}
p{
    text-align: justify;
}
.nav-item{
    float: left;
    padding: 3%;
}
.nav-list{
  list-style-type: none;
}
a{
    text-decoration: none;
    color: #000;
}
.footer{ 
    background-color: rgba(210, 255, 212, 0.5);
    line-height: 150%;
}